{% extends 'base.html' %}

{% block content %}
<h2>Profile Page</h2>

<div>
    <a href="{% url 'new_post' %}" class="anchor">Add New Post</a>
</div>
<div>
    {% if user.is_authenticated %}
    <div class="user-area"></div>
    <p> Hi {{ user.username }} </p>
    <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>


</div>

<!-- show posts when user is logged in -->
{% if object_lists %}
{% for post in object_list %}

<div class="post-entry">
    <h2><a href="{% url 'post_detail' post.pk%}" class="anchor"> {{ post.title }}</a></h2>
    <p>{{post.body}}</p>
</div>

{% endfor if %}
{% else %}
<div>
    <p>You have no posts</p>
</div>
{% endif% }
<!-- end of posts -->

{% else %}
    <p>You are not logged in</p>
    <button><a href="{% url 'login' %}" class="anchor">Login</a></button>
    {% endif %}
    
{% endblock content %}